@media(max-width:1400px) {
	.navbar {
		a {
			font-size: 13.5px !important;
		}
	}
}

@media(max-width:1000px) {
	header {
		background-image: url(../i/small-01.jpg) !important;
	}

	.main {
		&__center {
			background-image: url(../i/small-02.jpg) !important;
		}
	}

	body {
		font-size: 15px !important;
	}

	a {
		font-size: 16px !important;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 18px;
	}

	.btn-1,
	.btn-2 {
		font-size: 12px !important;
	}

	.main {
		&__center {
			min-height: 50vw;
			margin-bottom: 1rem;
			overflow: hidden;
			//			margin-left: 15px;
		}
	}

	.btn-1,
	.btn-2 {
		font-size: 16px !important;
	}

	ul {
		li {
			text-align: center !important;

			a {
				text-align: center;
			}
		}
	}
}

@media(max-width:545px) {
	.main {
		&__center {
			min-height: 80vw;
			margin-bottom: 1rem;
			//			background: none !important;
		}
	}

	.can .slider p {
		font-size: 15px !important;
	}

	footer {
		text-align: center;

		ul {
			padding: 0;

			li {
				text-align: center !important;

				a {
					text-align: center;
				}
			}
		}

		.logo-footer {
			max-width: 94px !important;
			//			margin-left: 10vw;
			;
		}
	}

	.logo {
		width: 65vw;
	}
}

@media(min-width:545px)and(max-width:768px) {
	.overlayMenu input {
		width: 85vw !important;
	}

	.navBurger {
		//		top: 6vw;
	}
}

@media(min-width:320px)and(max-width:544px) {
	.navBurger {
		//		top: 8vw;
	}
}

@media(min-width:768px)and(max-width:1000px) {
	.overlayMenu input {
		width: 87vw !important;
	}
}
