.slick-track {
	margin-left: 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	display: flex;

	div {
		display: flex;
	}
}

.slick-slider {
	.prev:before {
		font-family: 'icomoon';
		content: '\e902';
		color: $blue;
	}

	.next:before {
		font-family: 'icomoon';
		content: '\e901';
		color: $blue;
	}

}
