h4 {
	background: $blue;
	color: $orange;
	width: auto;
	font-size: calc(.7vw + .5rem);
	display: inline-block;
}

.beige {
	background: $orange;
	color: $black;
}

.card-body {
	h5 {
		font-weight: 500;
		font-size: 18px;
		text-align: left;
		color: $black;
	}
}

.line {
	border-top: 1px solid $blue;
	margin-top: -8px;
	margin-bottom: .5rem;
	width: 100%;
}

.section {
	h1 {
		font-family: Montserrat;
		font-weight: 500;
		font-size: 30px;
		line-height: 65px;
		text-transform: uppercase;
		border-left: 3px solid #ffd9a6;
		padding-left: 15px;
	}
}
